﻿<ion-view view-title="Add" style="background-color:bisque">
    <ion-nav-buttons>
    </ion-nav-buttons>
    <ion-content>

        <form name="myForm" novalidate>
            <div class="list list-inset card">
                <label class="item item-input">
                    <span class="input-label">Title</span>
                    <input type="text" name="title" ng-model="data.title" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Author</span>
                    <input type="text" name="author" ng-model="data.author">
                </label>
                <label class="item item-input">
                    <span class="input-label">Comments</span>
                    <input type="text" name="comments" ng-model="data.comments">
                </label>
            </div>

            <div class="list list-inset card">
                <label class="item item-input">
                    <span class="input-label">Started reading</span>
                    <input type="date" id="datePicker" name="date" ng-model="data.startDate">
                </label>
                <label class="item item-input" ng-show="reading">
                    <span class="input-label">Stoped reading</span>
                    <input type="date" id="datePicker" name="date" ng-model="data.stopDate">
                </label>
                <label class="item range" ng-show="reading">
                    <span>Rating</span>
                    <input type="range" name="rating" ng-model="data.rating" min="0" max="10">{{data.rating}}/10
                </label>
                <div class="button-bar">
                    <a id="finished" ng-click="changeButton('f')" style="font-size:12px;" class="button button-stable card">Finished reading</a>
                    <a id="still" ng-click="changeButton('s')" style="font-size:12px;" class="button button-positive card">Still reading</a>
                </div>
            </div>

            <div style="background-color:transparent" class="list list-inset">
                <button ng-click="selectGenre()" class="button button-block button-balanced">
                    Select genre
                </button>
                <p>{{text}}</p>
            </div>

            <div class="list card" style="background-color:cornsilk">
                <div class="button-bar">
                    <a id="borrowed" ng-click="changeButton('b')" class="button button-stable card">Borrowed book</a>
                    <a id="lent" ng-click="changeButton('l')" class="button button-stable card">Lent book to</a>
                </div>
                <label class="item item-input" ng-show="borrowed">
                    <span class="input-label">Borrowed to</span>
                    <input type="text" ng-model="data.borrowedTo"/>
                </label>
                <label class="item item-input" ng-show="borrowed">
                    <span class="input-label">Borrowed until</span>
                    <input type="date" ng-model="data.borrowedUntil" />
                </label>
                <div class="item item-divider" ng-show="lent && borrowed"></div>
                <label class="item item-input" ng-show="lent">
                    <span class="input-label">Lent to</span>
                    <input type="text" ng-model="data.lentTo" />
                </label>
                <label class="item item-input" ng-show="lent">
                    <span class="input-label">Lent until</span>
                    <input type="date" ng-model="data.lentUntil" />
                </label>
            </div>

            <div class="padding">
                <p ng-show="!data.title.length > 0">* Title is required</p>
            </div>

            <div class="padding">
                <button type="button" class="button button-block button-positive" ng-click="addBook()" ng-disabled="myForm.$invalid">Add</button>
            </div>
        </form>
    </ion-content>
</ion-view>