﻿<ion-view view-title="{{book.title}}" style="background-color:bisque">
    <ion-nav-buttons side="secondary">
        <button id="editButton" ng-disabled="testBook.title.length <= 0 && edit" class="button" ng-click="changeEdit()">Edit</button>
    </ion-nav-buttons>
    <ion-content>
        <form name="myForm" novalidate>
            <div class="list list-inset card">
                <label class="item item-input " ng-show="edit || testBook.title.length > 0">
                    <span class="input-label">Title</span>
                    <input type="text" ng-readonly="!edit" ng-model="testBook.title">
                </label>
                <label class="item item-input " ng-show="edit || testBook.author.length > 0">
                    <span class="input-label">Author</span>
                    <input type="text" ng-readonly="!edit" ng-model="testBook.author">
                </label>
                <label class="item item-input ">
                    <span class="input-label">Started reading</span>
                    <input type="date" ng-readonly="!edit" ng-model="testBook.start">
                </label>
                <label class="item item-input" ng-show="edit || testBook.finished">
                    <span class="input-label">Finished reading</span>
                    <input type="date" ng-readonly="!edit || testBook.end.length > 0" ng-model="testBook.end">
                </label>
            </div>

            </form>

            <div class="padding">
                <p ng-show="!testBook.title.length > 0">* Title is required</p>
            </div>
</ion-content>
</ion-view>