﻿<ion-view view-title="List" style="background-color:bisque">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
        
        <button ui-sref="add" class="button">Add new book</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="primary">
        <button ng-model="shouldShowDelete" ng-click="switch()" class="button icon-right ion-minus"></button>
    </ion-nav-buttons>

    <ion-content>

        <ion-item class="card">
            <p style="font-weight:500; color:#474747;">Sort by...</p>
            <div class="item range range-stable" style="background-color:transparent; border-color:transparent">
                <input type="range" onchange="changeSort(this.value)" name="volume" min="0" max="3" value="0">
            </div>
            
           <div class="row" style="margin-left:25px; margin-bottom:-10px; margin-top: -10px">
                <div class="col"><span style="font-size:10px; font-weight:500; color:#474747;">|</span></div>
                <div class="col"><span style="font-size:10px; font-weight:500; color:#474747;">|</span></div>
                <div class="col"><span style="font-size:10px; font-weight:500; color:#474747;">|</span></div>
                <div class="col"><span style="font-size:10px; font-weight:500; color:#474747;">|</span></div>
            </div> 

            <div class="row" style="margin-left:10px; margin-bottom:-10px; margin-top: -10px">
                <div class="col"><span style="font-size:15px; font-weight:500; color:#474747;">Title</span></div>
                <div class="col"><span style="font-size:15px; font-weight:500; color:#474747;">Rating</span></div>
                <div class="col"><span style="font-size:15px; font-weight:500; color:#474747;">Author</span></div>
                <div class="col"><span style="font-size:15px; font-weight:500; color:#474747;">Date</span></div>
            </div>

        </ion-item>
        <div class="card" style="background-color:transparent">
            <ion-list type="list" ng-repeat="book in list track by $index" show-delete="shouldShowDelete">

                <div ng-show="book.isCat" class="item item-divider">{{book.title}}</div>

                <ion-item ng-show="!book.isCat" class="item-remove-animate" ui-sref="details({id: {{book.id}}})">

                    <ion-delete-button class="ion-minus-circled" ng-click="detele({{book.id}})"></ion-delete-button>

                    <span style="font-size:12px; vertical-align:text-top">{{dateToText(book.start)}}</span> <span style="font-size:12px; vertical-align:text-top">-</span> <span style="font-size:12px; vertical-align:text-top" ng-show="book.end != ''">{{dateToText(book.end)}}</span>
                    <span ng-show="book.rating >= 0" style="font-size:12px; font-weight:900; float:right;">{{book.rating}}/10</span><br />
                    <span style="font-size:20px;">{{book.title}}</span>
                    <p>{{book.author}}</p>
                    <p ng-show="book.lent">Lent to {{book.lent_person}} until {{dateToText(book.lent_until)}}</p>
                    <p ng-show="book.borrowed && book.borrowed_person.lenght > 0 ">Borrowed from {{book.borrowedFrom.person}} until {{dateToText(book.borrowedFrom.until)}}</p>

                    <ion-option-button ng-click="detele({{book.id}})" class="button-assertive">Delete</ion-option-button>

                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>